<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMWin_RichPresence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMWin_RichPresence.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RPSubtitleChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastfmAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LastfmSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="LastfmUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAppleMusicIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDiscordRP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastfmCleanAlbumName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastfmScrobblePrimaryArtist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastfmEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </AMWin_RichPresence.Properties.Settings>
    </userSettings>
</configuration>